<!DOCTYPE html>
<html lang="en">

<head>
	<title>Attendance - TGIF</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class=" text-grey">

	<header class="row justify-content-between"
		style=" background-image: url('assets/images/congress1.jpg'); background-repeat:no-repeat; background-size:cover; background-position: center">
		<a class="col-2 " href="home.html">
			<img src="assets/images/tgif_logo.jpg" class="rounded-circle img-responsive" id="logo" alt="Logo de TGIF">
		</a>
		<a href="mailto:info@tgif.net" class="col-2 d-flex align-items-center">
			<img class="rounde-circle" src="assets/images/Mail-icon.png" id="iconoEmail" alt="icono email">info@tgif.net</a>
	</header>

	<nav class="navbar navbar-expand bg-dark navbar-dark sticky-top">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="home.html">Home</a></li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">Congress 113</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="senate-data.html">Senate</a>
					<a class="dropdown-item" href="house-data.html">House</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">Attendance</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="attendance-senate.html">Senate</a>
					<a class="dropdown-item" href="attendance-house.html">House</a>
				</div>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">Party Loyalty</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="loyalty-senate.html">Senate</a>
					<a class="dropdown-item" href="loyalty-house.html">House</a>
				</div>
			</li>
		</ul>
	</nav>

	<main style="margin-bottom: 44px">
		<div class="container" id="vm">
			<br>

			<div class="row">
				<div class="col-6 text-justify">
					<h2>Attendance</h2>
					<p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house.
						Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most
						cases,
						debates continue even if a majority is not present.</p>

					<p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating
						"aye" or
						"no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a
						roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In
						the
						case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the
						tiebreaking vote.</p>
				</div>

				<div class="col-6">
					<h2 class="text-right">Senate at a glance</h2>
					<table id="senateAtAGlance" class="table text-center table-striped table-bordered table-hover">
						<thead class="thead-dark">
							<tr>
								<th>Party</th>
								<th>No. of Reps</th>
								<th>% Voted with Party</th>
							</tr>
						</thead>
						<tbody v-bind='toStatisticsGlance'>
							<tr v-for="partyGlance in statisticsGlance">
								<td>{{partyGlance.descriptionParty}}</td>
								<td>{{partyGlance.numbersOfMembers}}</td>
								<td>{{partyGlance.pctVotesWithParty}}</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<hr>
			<div class="container">
				<div class="row">

					<div class="col-6">
						<h2>Least Engaged <br> (Bottom 10% Attendance)</h2>
						<table id="leastEngaged" class="table text-center table-striped table-bordered table-hover">
							<thead class="thead-dark">
								<tr>
									<th>Name</th>
									<th>Party</th>
									<th>No. Missed Votes</th>
									<th>% Missed</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for='member in toGetLeastEngaged'>
									<td><a :href="member.url"> {{member.last_name}} {{member.first_name}} {{ member.middle_name}}</a></td>
									<td>{{member.party}}</td>
									<td>{{member.missed_votes}}</td>
									<td>{{member.missed_votes_pct}}%</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="col-6">
						<h2>Most Engaged <br> (Top 10% Attendance)</h2>
						<table id="mostEngaged" class="table text-center table-striped table-bordered table-hover">
							<thead class="thead-dark">
								<tr>
									<th>Name</th>
									<th>Party</th>
									<th>No. Missed Votes</th>
									<th>% Missed</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="member in toGetMostEngaged">
									<td><a :href="member.url"> {{member.last_name}} {{member.first_name}} {{ member.middle_name}}</a></td>
									<td>{{member.party}}</td>
									<td>{{member.missed_votes}}</td>
									<td>{{member.missed_votes_pct}}%</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</main>


	<footer class="container-fluid bg-dark text-light text-center fixed-bottom" style="height: 44px">
		<p style="line-height:40px"> &copy; 2016 | All Rights Reserved | Miguelangel Parra</p>
	</footer>
	<!--VUE JS-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--JQUERY-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<!--AJAX-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<!--BOOTSTRAP-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<!--URL DATA-->
	<script> var url = "https://api.propublica.org/congress/v1/113/senate/members.json?callback=request";</script>
	<!--Funcionalidad-->
	<script src="assets/js/attendance_and_loyalty-functionality.js"> </script>

</body>

</html>