*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: darkblue;
}

a:hover { 
    color: chartreuse;
    text-decoration: underline;
}

.logo{
    height: 170px;
    width: 170px;
    position: absolute;
    right: 150px;
    top: 150px;
}

.imagen1{
    float:left
}

header{
    height: 200px;
    width: 100%;
    background-image: url(../img/design1_image1.jpg);
    background-repeat: no-repeat;
    background-position:center      ;
    background-size: cover;
}

#titulo1{
    width: 850px;
    height: 80px;
    background-color: rgba(0,0,0,0.3)
}

#titulo2 {
    width: 100%;
    height: auto;
    background-color: black;
    color: aliceblue;  
    text-align: center; 
}

#titulo2 h2{
    font-size: 40px;
}

body{
   background-color: dimgray; 
   font-size: 25px; 
}

nav{
    float: left;
    width: 20%;
    height: 450px;
    background-color: darkslategrey;    
}

nav a{
    margin: 35px;
}
main{
    float: right;
    width: 80%;
    margin
}

main p{
    margin-left: 20px;
}

h1{
    font-size: 60px;
    color: whitesmoke;    
}

h2{
    font-size: 25px;    
}