html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, /*ol, ul, li,*/
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------Reset------------------------*/

body{
	background-color: #F1F8E9;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}
header{
	width: 100%;
	height: 40%;
	margin-top: 5%;
	background-image: url(../images/stadium2.jpeg);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
nav{
	background: radial-gradient(black, #1e2419 85%,#3f444b);
	/*background-color: #AED581;*/
	position: fixed;
	z-index: 100;
	color: white;
	width: 100%;
	margin-bottom: 0.35em;
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}	
#logo{
	width: 200px;
	height: 200px;
	background-image: url(../images/nysl_logo.png);
	background-size: contain;
	align-self: center;
	background-repeat: no-repeat;
}
nav ul{
	display: flex;
	width: 40%;
	height: 90%;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
}
nav li{
	background-color: #3f444b;
	border-radius: 20%;
	width: 30%;
	height: 70%;
	margin-left: 1.3%;
	border: 2px none black;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
nav li:last-child{
	margin-right: 5%;
}
nav li:hover{
	background-color: darkgreen;
}
nav a{
	color: white;	
	text-align: center;
}
#secondTitle{
	width: 100%;
	height: 20%;
	background: radial-gradient(black, #1e2419 30%,#3f444b);
}
#secondTitle p{
	font-size: 2.8em;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	color: white;
	margin-bottom: 0.15em;
}
.box{
	margin: 15px;
}
main{
	display: flex;
	justify-content: space-around;
	font-size: 1em;
    text-align: center;
    margin-bottom: 10%;
}

#information{
	display: flex;
	flex-direction: column;
}

#rules{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 2% 20% 2% 20%;
}   

#rules div{
  text-align: left;
  line-height: 1.5em;
}

ol>li, ul>li{
	margin-left: 2em;
  }
.liletters {
  list-style-type: lower-alpha;
}
.orderAlpha{
	list-style-type: lower-alpha;
}
p{
	font-size: 1.2em;
	text-align: justify;
}
h1{
	margin-left: 0.5%;
	font-size: 3.5em;
	font-weight: bold;
	text-shadow: black 0.07em 0.07em 0.2em
}
h2{
  	margin-left: 0.5%;
	font-size: 2.8em;
	font-weight: bold;
}
h3{
	font-size: 2em;
	font-weight: bold;
}
h4{
	font-weight: bold;
	font-size: 2.5em;
}
#rules h4{
	font-size: 1.2em;
	font-weight: bold;
}
h5{
	display: inline-flex;
	font-weight: bold;
}
strong{
  font-weight: bold;
}
a{
	font-size: 1.2em;
	color: black;
}
a:hover{
	color: orange;
}
article p{
	font-size: 2em;
}
footer{
	position: fixed;
	z-index: 100;
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 11%;
	justify-content: center;
	align-items: center;
	background: radial-gradient(black, #1e2419 80%,#3f444b);
	color: white;
}
footer li{
	display: inline;
	margin-right: 15px;
	color: white
}
footer a{
	color: white;
}

table{
  width: 100%;
  font-size: 1.2em;
  
}
th{
  background-color: forestgreen;
  font-size: 1.4em;
  font-weight: bold;
}

th:first-child{
  background-color: orangered;
}

tbody tr:nth-child(even) {
  background: lightgreen;
}

tr:nth-child(2n){
  border-bottom: solid 1px black;
}

table tr{
  border-bottom: solid 1px black;
}

caption{
  font-size: 2em;
  width: 100%;
  background-color: gray;
}

.left{
  text-align: left
  
}