<!DOCTYPE html>
<html lang="en">

<head>
	<title>Schedule</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="../assets/styles/styles.css">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div id="app" class="container">
		<!--Header-->
		<div class="row center-align" id="header">
			<div class="col s12">
				<img id="logo" src="../assets/images/nysl_logo.png" alt="nysl_logo" class="responsive-image">
			</div>
		</div>

		<!--Container Principal-->
		<div class="container-fluid container-main center-align">

			<div class="row">
				<div class="col-6 sombra">
					<h3 class="white-text">Select what you need to know: </h3>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6 l4">
					<select class="browser-default" v-model="monthSelected">
						<option value="All months" >All months</option>
						<option v-for="month in months" v-bind:value="month.value">{{month.name}}</option>
						
					</select>
				</div>
				<div class="col l4"></div>
				<div class="input-field col s6 l4">
					<select class="browser-default" v-model="teamSelected">
						<option value="All Teams">All Teams</option>
						<option v-for= "team in teams" v-bind:value="team">{{team}}</option>

					</select>
				</div>
			</div>

			<div class="row ">
				<div class="col l2"></div>
				<div class="col s12 l8" id="divTabla">
					<table class="highlight centered striped ">
						<thead>
							<tr>
								<th>Date</th>
								<th>Teams</th>
								<th>Time</th>
								<th>Location</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="game in games" v-if="(game.month==monthSelected) && (game.t1==teamSelected || game.t2==teamSelected)">
								<td>{{game.month}}/{{game.day}}</td>
								<td>{{game.t1}} vs {{game.t2}}</td>
								<td>{{game.time}}</td>
								<td>{{game.location}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col l2"></div>
			</div>

		</div>
	</div>
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script src="../assets/js/schedule_functionality.js"></script>
</body>

</html>