<!DOCTYPE html>
<html lang="en">

<head>
	<title>Loyalty - TGIF</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>

<body class=" text-grey">
	<div id="vm">

		<my-header></my-header>
		<my-nav> </my-nav>

		<main>
			<div class="container">
				<br>
				<div class="row">

					<!--PRINCIPAL TEXT-->
					<div class="col-6 text-justify">
						<h2>Party Loyalty</h2>
						<p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans
							respectively,
							tend to be the most faithful in voting for their party's nominee for office and legislation that backs
							their
							party's agenda. </p>
					</div>

					<!--SENATE AT A GLANCE-->
					<transition name="fade">
						<div class="col-6" v-if="isLoaded">
							<h2 class="text-right">House at a glance</h2>
							<table id="houseAtAGlance" class="table text-center table-striped table-bordered table-hover">
								<thead class="thead-dark ">
									<tr>
										<th>Party</th>
										<th>No. of Reps</th>
										<th>% Voted with Prty</th>
									</tr>
								</thead>
								<tbody v-bind='toStatisticsGlance'>
									<tr v-for="partyGlance in statisticsGlance">
										<td>{{partyGlance.descriptionParty}}</td>
										<td>{{partyGlance.numbersOfMembers}}</td>
										<td>{{partyGlance.pctVotesWithParty}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</transition>
					<div v-else class="col-6 d-flex justify-content-center align-items-center ">
						<div class="loading "></div>
					</div>
				</div>

				<hr>
				<div class="container" v-if="isLoaded">
					<div class="row">
						<!--LEAST ENGAGED-->
						<div class="col-6">
							<h2>Least Loyal <br> (Bottom 10% of Party)</h2>
							<table id="leastLoyal" class="table text-center table-striped table-bordered table-hover">
								<thead class="thead-dark">
									<tr>
										<th>Name</th>
										<th>Party</th>
										<th>No. Party Votes</th>
										<th>% Party Votes</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for='member in toGetLeastOftenVoteWithTheirParty'>
										<td><a :href="member.url"> {{member.last_name}} {{member.first_name}} {{ member.middle_name}}</a>
										</td>
										<td>{{member.party}}</td>
										<td>{{parseInt((member.total_votes*member.votes_with_party_pct)/100)}}</td>
										<td>{{member.votes_with_party_pct}}%</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!--MOST LOYAL-->
						<div class="col-6">
							<h2 class="text-right">Most Loyal <br> (Top 10% of Party)</h2>
							<table id="mostLoyal" class="table text-center table-striped table-bordered table-hover">
								<thead class="thead-dark">
									<tr>
										<th>Name</th>
										<th>Party</th>
										<th>No. Party Votes</th>
										<th>% Party Votes</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="member in toGetMostOftenVoteWithTheirParty">
										<td><a :href="member.url"> {{member.last_name}} {{member.first_name}} {{ member.middle_name}}</a>
										</td>
										<td>{{member.party}}</td>
										<td>{{parseInt((member.total_votes*member.votes_with_party_pct)/100)}}</td>
										<td>{{member.votes_with_party_pct}}%</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div v-else class="col-12 d-flex justify-content-center align-items-center ">
					<div class="loading "></div>
				</div>
			</div>
		</main>
		<my-footer></my-footer>
	</div>

	<!--VUE JS-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--My_Components-->
	<script src="assets/components/header.js"></script>
	<script src="assets/components/nav.js"></script>
	<script src="assets/components/footer.js"></script>
	<!--JQUERY-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<!--AJAX-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<!--BOOTSTRAP-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<!--URL DATA-->
	<script> var url = "https://api.propublica.org/congress/v1/113/senate/members.json?callback=request";</script>
	<!--Funcionalidad-->
	<script src="assets/js/attendance_and_loyalty-functionality.js"></script>

</body>

</html>