*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: darkblue;
}

a:hover { 
    color: yellow;
    text-decoration: underline;
}

.logo{
    height: 170px;
    width: 170px;
    position: absolute;
    left: 30px;
    top: 280px;
}

header{
    height: 200px;
    width: 100%;
    background-image: url(../img/design2_image1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: static;
}

#titulo1{
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,1);
    position: relative;
    float: left
}

#titulo2 {
    width: 100%;
    height: auto;
    background-color: black;
    color: aliceblue;  
    text-align: center; 
}

#titulo2 h2{
    font-size: 40px;
}

body{
   background-color: dimgray; 
   font-size: 25px; 
}

nav{
    z-index: 100;
    width: 20%;
    position: fixed;
    top: 40px;
    right: 40px;
    float: right;
}

nav ul{
    position: absolute;
}

nav li{
    display: inline-block;
    width: 70px;  
    margin: 2px;
    background-color: darkred;
    border: 4px solid black;
    border-radius: 20%;
    font-size: 20px;
    text-align: center;
}

nav li a{
    color: salmon;
}

main{
    float: right;
    width: 80%;
    padding: 10px;
}

main p{
    margin-left: 20px;
}

h1{
    font-size: 60px;
    color: whitesmoke;    
}

h2{
    font-size: 25px;    
}