
body{
  background-color: black;
  max-height: 100vh;
}

#animatedBall{
  width: 7%;
  height: 7%;
}

#logo{
  width: 20vh;

}

.container-main{
  background-color: black ;
  height: 100vh;
  background-image: url(../images/2000px-Soccer_field_-_empty.svg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#header{
  margin: auto; 
  height: 5vh;
  background-color: black
}

.sombra{
  padding: 0.1em;
  background-color: rgba(0, 0,0, 0.5)
}

table{
  background-color: rgba(255, 255,255, 0.6);
}


#divTabla{
  height: 40vh;
  overflow: auto;
}