     <template>
  <div>
    <nav>
      <div class="nav-wrapper fondo-oscuro">
        <img
          class="responsive-image brand-logo hide-on-large-only"
          id="logo-nav"
          src="../assets/images/nysl_logo.png"
          alt="logo"
        />
        <a href="#!" class="brand-logo hide-on-med-and-down">Northside Youth Soccer League</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
          <i class="material-icons">menu</i>
        </a>

        <a
          id="boton"
          class="left btn-large halfway-fab waves-effect waves-light orange hide-on-large-only btn-floating"
          @click="backHistory()"
        >
          <i class="material-icons">arrow_back</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <router-link to="/">Home</router-link>
          </li>
          <li>
            <router-link to="/about">About</router-link>
          </li>
          <li>
            <router-link to="/information">Information</router-link>
          </li>
          <li>
            <router-link to="/registration">Registration</router-link>
          </li>
          <li>
            <router-link to="/rules">Rules</router-link>
          </li>
          <li>
            <router-link to="/contact">Contact</router-link>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li>
        <router-link class="sidenav-close" to="/">Home</router-link>
      </li>
      <li>
        <router-link class="sidenav-close" to="/about">About</router-link>
      </li>
      <li>
        <router-link class="sidenav-close" to="/information">Information</router-link>
      </li>
      <li>
        <router-link class="sidenav-close" to="/registration">Registration</router-link>
      </li>
      <li>
        <router-link class="sidenav-close" to="/rules">Rules</router-link>
      </li>
      <li>
        <router-link class="sidenav-close" to="/contact">Contact</router-link>
      </li>
    </ul>
  </div>
</template>
     
     
     


  <script>
export default {
  name: "Nav",
  methods: {
    backHistory() {
      this.$router.go(-1);
    }
  }
};
</script>