<template>
  <div class="container-fluid">
    <!--Container Principal-->
    <!--Mensaje Central-->
    <div class="container-fluid center-align">
      <div class="row notDisplayLandscape">
        <div class="col s12 fondo-oscuro">
          <h3 class="white-text">Select what you need to know:</h3>
        </div>
      </div>

      <button onclick="toGames()" >firebase</button>

      <!--Selects para filtrar-->
      <!--Select Month-->
      <div class="row margin-0 p1-b">
        <div class="input-field col s6 offset-l1 l5 ">
          <select id="idSelectMonth" @change="toSelectMonth()">
            <option value="All Months">All Months</option>
            <option
              v-for="month in months"
              v-bind:value="month.value"
              :key="month.value"
            >{{month.name}}</option>
          </select>
          <label>Months:</label>
        </div>
        <!--Select Team-->
        <div class="col l4"></div>
        <div class="input-field col s6 l5">
          <select id="idSelectTeam" @change="toSelectTeam()">
            <option value="All Teams">All Teams</option>
            <option v-for="team in teams" v-bind:value="team" :key="team">{{team}}</option>
          </select>
          <label>Teams:</label>
        </div>
      </div>
      <!--Tabla de Juegos Filtradas-->
      <div class="row ">
        <div class="col s12 offset-l2 l8 " id="divTabla">
          <table class="centered">
            <!--Thead-->
            <thead>
              <tr>
                <th>
                  Date
                  <i class="tiny material-icons">date_range</i>
                </th>
                <th>
                  Teams
                  <i class="tiny material-icons">group</i>
                </th>
                <th>
                  Time
                  <i class="tiny material-icons">schedule</i>
                </th>
                <th>
                  Location
                  <i class="tiny material-icons">room</i>
                </th>
              </tr>
            </thead>
            <!--TBody-->
            <tbody>
              <tr v-for="(game,id) in gamesFiltered" :key="id">
                <td @click="toGameDetails()" :id="game.id">{{game.month}}/{{game.day}}</td>
                <td @click="toGameDetails()" :id="game.id">{{game.t1}} vs {{game.t2}}</td>
                <td @click="toGameDetails()" :id="game.id">{{game.time}}</td>
                <td @click="toGameDetails()" :id="game.id">{{game.location}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";
export default {
  name: "Schedule",
  computed: {
    ...mapState(["monthSelected", "months", "teamSelected", "teams", "games"]),
    ...mapGetters(["gamesFiltered"])
  },
  methods: {
    ...mapMutations(["toSelectTeam", "toSelectMonth",               "toGames"]),

    toGameDetails() {
      this.$router.push("/gameDetails/" + event.target.attributes.id.value);
    }
  }
};
</script>
