<!DOCTYPE html>
<html lang="en">

<head>
	<title>Senate Data</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<header class="row justify-content-between "
		style=" background-image: url('assets/images/congress1.jpg'); background-repeat:no-repeat; background-size:cover; background-position: center">
		<a class="col-2 " href="home.html"><img src="assets/images/tgif_logo.jpg" Class="rounded-circle img-responsive"
				width="100%" height="100%" alt="Logo de TGIF"></a>
		<a href="mailto:info@tgif.net" class="col-2 d-flex align-items-center"><img class="rounde-circle"
				src="assets/images/Mail-icon.png" width="30%" alt="icono email"> info@tgif.net</a>
	</header>

	<nav class="navbar navbar-expand bg-dark navbar-dark sticky-top">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="home.html">Home</a></li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">Congress 113</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="senate-data.html">Senate</a>
					<a class="dropdown-item" href="house-data.html">House</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">Attendance</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="attendance-senate.html">Senate</a>
					<a class="dropdown-item" href="attendance-house.html">House</a>
				</div>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">Party Loyalty</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="loyalty-senate.html">Senate</a>
					<a class="dropdown-item" href="loyalty-house.html">House</a>
				</div>
			</li>
		</ul>
	</nav>
	<hr>

	<main style="margin-bottom: 44px">
		<div class="container" id="vueDiv">
			<div class="col-8 text-justify">
				<h2>Senators</h2>
				<p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S.
					Constitution. Each state is represented by two senators, regardless of population, who serve staggered
					six-year
					terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a
					precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries,
					federal
					judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other
					federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-5 text-center">
						<h5>Select the parties what you want to see:</h5>
						<label><input type="checkbox" id="democrat" value="D" v-model="selectedParties">Democrat</label>
						<label><input type="checkbox" id="republican" value="R" v-model="selectedParties">Republican</label>
						<label><input type="checkbox" id="independent" value="I" v-model="selectedParties">Independent</label>
					</div>

					<div class="col-3 text-center">
						<h5> Select one state to filter: </h5>
						<form id="states">
							<select id="stateOption" v-model="selectedState">
								<option value="allStates">All States</option>
								<option v-for="state in states" v-bind:value="state">{{state}}</option>
							</select>
						</form>
					</div>
				</div>
			</div>

			<table class="table container table-striped table-hover text-center" id="table-data">
				<thead class="bg-dark text-light">
					<tr>
						<td>SENATOR</td>
						<td>PARTY</td>
						<td>STATE</td>
						<td>SENIORITY</td>
						<td>VOTES</td>
					</tr>
				</thead>
				<tbody id="content">
					<tr v-for="member in toFilteredMembers">
						<td><a :href="member.url"> {{member.last_name}} {{member.first_name}} {{ member.middle_name}}</a></td>
						<td>{{member.party}}</td>
						<td>{{member.state}}</td>
						<td>{{member.seniority}}</td>
						<td>{{member.votes_with_party_pct}}%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>

	<footer class="container-fluid bg-dark text-light text-center fixed-bottom" style="height: 44px">
		<p style="line-height:40px"> &copy 2016 | All Rights Reserved | Miguelangel Parra</p>
	</footer>
	<!--VUE JS-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--JQUERY-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<!--AJAX-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<!--BOOTSTRAP-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<!--Funcionalidad-->
	<script src="assets/js/data-functionality.js"></script>

</body>

</html>