body{
   background-color: dimgray; 
}

header{
    height: 150px;
    width: 100%;
    background-color: cadetblue;
}

h1{
    font-size: 60px;
    text-align: center;
    
}

h2{
    font-size: 3    0px;    
}

.logo{
    height: 150px;
    width: 150px;
    float: left;
}

.imagen1{
    float:left
}