
body{
  background-color: beige;
  max-height: 100vh;
}

#animatedBall{
  width: 7%;
  height: 7%;
}

#logo{
  width: 20vh;
}

#logo-nav{
  width: 2em;
}

.fondo-oscuro{
  background: radial-gradient(black, #1e2419 30%, #3f444b);
  color: whitesmoke;
  margin: 0;
}

.fondo-main{
  background-color:beige;
  height: 100vh;
}
/*.container-main{
  background-color: black ;
  height: 100vh;
  background-image: url(../images/FondoPrincipal-Vertical.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}*/

#header{
  height: 21vh;
  /*background-image: url(../images/grass_header.png);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0
}

.fondo-grass{
  background-image: url(../images/grass_header.png);
}

.sombra{
  padding: 0.1em;
  background-color: rgba(0, 0,0, 0.5)
}

table{
  background-color: rgba(255, 255,255, 0.6);
}

thead{
  background-color: goldenrod;
}

#divTabla{
  height: 40vh;
  overflow: auto;
}

.dorado-oscuro{
  background-color: goldenrod;
}

.dorado-claro{
  background-color: gold;
}

.margin-0{
  margin: 0
}

tr:hover{
background-color: gold;
}

#arrowBack:hover{
  border-radius: 50%;
  background-color: darkslategrey;
}

.landscape {
  display: none;
}
.tamano50 {
  width: 100%
}

iframe{
  margin:0;
  padding: 0;
}
.p1{
  padding: 1em
}
.p1-b{
  padding: 1em;
  padding-bottom: 0
}
#boton{
  /*position: relative;
  bottom: -5px;
  width: 48px;
  height: 48px*/
}
.collapsible-header{
  background-color: orange;
  font-size: 2em
}
.collapsible-body{
  background-color: aliceblue
}
/*Landscape*/

@media (orientation: landscape) and (max-width: 768px) {


  thead{
    font-size: 0em
  }

  .landscape {
    display: block;
  }

  .tamano50 {
    width: 50%
  }

  .notDisplayLandscape{
    display: none
  }
}
