html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------Reset------------------------*/

body{
	background-color: #F1F8E9;
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}
nav{
	background-color: #AED581;
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#logo{
	width: 200px;
	height: 200px;
	background-image: url(../images/nysl_logo.png);
	background-size: contain;
	align-self: center;
	background-repeat: no-repeat;
}
nav ul{
	display: flex;
	width: 20%;
	height: 90%;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
}
nav li{
	background-color: #689F38;
	border-radius: 20%;
	width: 30%;
	height: 70%;
	margin-left: 0.4%;
	border: 2px none black;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
nav li:last-child{
	margin-right: 5%;
}
nav li:hover{
	background-color: darkgreen;
}
nav a{
	text-align: center;
}
header{
	width: 100%;
	height: 50%;
	background-image: url(../images/stadium2.jpeg);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#secondTitle{
	width: 100%;
	height: 20%;
	background-color: black;
}
#secondTitle p{
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	color: white;
}
.box{
	margin: 15px;
}
main{
	display: flex;
	justify-content: center;
	font-size: 1em;
}
p{
	font-size: 1.2em;
	text-align: justify;
}
h1{
	margin-left: 0.5%;
	font-size: 4em;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.2em
}
h3{
	font-size: 2em;
	font-weight: bold;
}
h4{
	font-weight: bold;
	font-size: 2.5em;
}
a{
	font-size: 1.2em;
	color: black;
}
a:hover{
	color: orange;
}
article p{
	font-size: 2em;
}
footer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 7%;
	background-color: #AED581;
	justify-content: center;
	align-items: center;
}
footer li{
	display: inline;
	margin-right: 15px;
}